@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Baskara;
  src: url('Baskara.otf');
}

@font-face {
  font-family: Namita;
  src: url('Namita.otf');
}
@font-face {
  font-family: Momo;
  src: url('Momo.otf');
}
@font-face {
  font-family: MandatoryPlaything;
  src: url('MandatoryPlaything.ttf');
}
@font-face {
  font-family: Raskhal;
  src: url('Raskhal.ttf');
}
@font-face {
  font-family: CabinCondensed;
  src: url('CabinCondensed-Medium.ttf');
}
@font-face {
  font-family: ethnocentric;
  src: url('ethnocentric rg.otf');
}
@font-face {
  font-family: Dreamscape;
  src: url('Dreamscape Sans.ttf');
}
@font-face {
  font-family: GoodTimes;
  src: url('good times rg.otf');
}

* {
  margin: 0;
  padding: 0;
}

/* .webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none
} */

/* body {
  overflow: auto
} */

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  background: #000;
  cursor: pointer;
  width: 250px;
  flex: 1;
  color: white;

}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.CanvasClipTop {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 92%, 0 100%);
}
.CanvasClipMiddle {
  -webkit-clip-path: polygon(0 6.5%, 100% 0%, 100% 100%, 0 92%);
}

.part2BG {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(30, 30, 30, 1) 100%);
}

@layer components {
}

.containerR {
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 10% 90% ;
  gap: 0px 0px;
  grid-template-areas:
    'Player skillsTitle .'
    'Player skillsText .'
    '. . .';
}

.containerL {
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 10% 90% ;
  gap: 0px 0px;
  grid-template-areas:
    'skillsTitle Player.'
    'skillsText Player .'
    '. . .';
}

.skillsTitle {
  position: relative;
  color: white;
  text-align: start;
  font-size: 5.12vw;
  grid-area: skillsTitle;
}
.skillsText {
  position: relative;
  color: white;
  text-align: start;
  font-size: 1.25vw;
  grid-area: skillsText;
  margin-top: 5vh;

}

.skillsPlayer {
  grid-area: skillsPlayer;
}



.swiper-button-next {
  background-image: url(./Images/ArrowR.png);

  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(./Images/ArrowL.png);

  background-repeat: no-repeat;
  background-size: 150% auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}



.my-component {
  background: #fff;
}

.fullscreen-enabled {
  background: rgb(15, 15, 15);
}

.tester {
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.AboutMeTitlesLG {
  color: white;
  text-align: start;
  font-size: 5.12vw;
  grid-area: skillsTitle;
}
.AboutMeTextLG {
  color: white;
  text-align: start;
  font-size: 1.25vw;
  grid-area: skillsText;
  margin-top: 5vh;

}
.AboutMeTitles {
  color: white;
  text-align: start;
  font-size: 5.12vw;
  grid-area: skillsTitle;
}
.AboutMeText {
  color: white;
  text-align: start;
  font-size: 1.25vw;
  grid-area: skillsText;
  margin-top: 5vh;

}
.AboutMeTitlesMobile {
  position: relative;
  color: white;
  text-align: middle;
  font-size: 12.12vw;
  grid-area: skillsTitle;
}
.AboutMeTextMobile {
  position: relative;
  color: white;
  text-align: start;
  font-size: 5.25vw;
  grid-area: skillsText;
  margin-top: 5vh;
  padding: 3vw;
}